.git/
.github/
.pytest_cache/
.venv/
.idea/
.vscode/
__pycache__/

.editorconfig
.env
.env.dev
.env.prod
.gitignore
compose.dev.yml
compose.prod.yml
dev.dockerfile
prod.dockerfile
setup.cfg
*.log
*.sqlite3
